<!DOCTYPE html>
<html lang="fr">
    <head>
        {# Boostrap #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Bootstrap icones-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        <link rel="shortcut icon" href="{{ asset('assets/images/ecov-logo.png')}}" type="image/x-icon" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://bootswatch.com/5/litera/bootstrap.min.css">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Site EcoV trouver votre bonheur et vider vos placards"
        />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    </head>
    <body style="background:#f4f3ea">
        {# Navbar #}
          <nav class="navbar navbar-expand-lg navbar-light"  style="background:#f4f3ea">
            <div class="container-fluid" >
                <a href="{{ path('home') }}" class="navbar-brand">
                    <img class="img img-fluid" src="{{ asset('assets/images/ecov-logo.png')}}" alt="logo" style="width:100px " >
                </a>   
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarColor03">
                    <ul class="navbar-nav fw-bold">
                        <li class="nav-item mx-4 border-bottom border-2 border-secondary">
                            <a href="{{ path('produits') }}" class="nav-link">Catalogue</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item mx-4 border-bottom border-2 border-secondary">
                                <a href="{{ path('account') }}" class="nav-link">Compte</a>
                            </li>
                            <li class="nav-item mx-4 border-bottom border-2 border-secondary">
                                <a href="{{ path('app_logout') }}" class="nav-link">Deconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item mx-4 border-bottom border-2 border-secondary">
                                <a href="{{ path('register') }}" class="nav-link">Inscription</a>
                            </li>
                            <li class="nav-item mx-4 border-bottom border-2 border-secondary">
                                <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item mx-4 border-bottom border-2 border-secondary">
                                <a href="{{ path('admin') }}" class="nav-link">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer class=" fixed-bottom text-center"style="background:#f4f3ea">
            <div class="text-center"> EcoV Tout droit reservé </div> 
            <a>Mentions légales</a>
            <br />
            <a href = 'mailto: sandrinekencker@hotmail.com' >contact@ecov.com</a>
        </footer>
    </body>
    {# Boostrap #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
