<container>

    <row>
        <columns>
            {# <p>{{ email.to}} vous a envoyé un message :</p> #}
        </columns>
    </row>
    <spacer size="32"></spacer>
    <row>
        <columns>
        <h1>Votre annonce : {{ email.subject }} sur EcoV ! </h1>
            <p>{{ firstnameBuy|nl2br}} {{ lastnameBuy|nl2br}} est intéréssé par votre annonce sur EcoV : {{ email.subject }}</p>
            <p>Son message : <br> {{ message|nl2br}}</p>
            <p>Pour contacter en privé {{ firstnameBuy|nl2br}} {{ lastnameBuy|nl2br}} voici son mail : <br> {{ mailBuy|nl2br}} </p>
        </columns>
    </row>
    <spacer size="32"></spacer>
    <row>
        <columns>
            {# <p>Répondre à l'e-mail pour répondre à {{ email.replyTo[0].address }}</p> #}
        </columns>
    </row>
</container>
